{% extends "homepage/base.html" %} 

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'homepage/style.css' %}">
{% endblock %}

    {% block content %}
    <h1>Welcome to our about page!</h1> 
    {% endblock %}
<!-- luis added -->
    <p>Our team is passionate about helping users find the best laptops on the market. This site is part of our term project where we research and showcase top-rated computers based on performance, design, and user feedback.</p>

    <h2>Our Mission</h2>
    <p>We aim to provide a simple and user-friendly platform where people can compare laptops, read reviews, and share their own experiences with the different types of laptops. </p>

    <h2>Meet the Team</h2>
    <ul>
        <li><strong>Luis Gaspar</strong> – Back-End Developer</li>
        <li><strong>Chul Huh</strong> – Front-End Developer</li>
        <li><strong>Adnan</strong> – Front-End Developer</li>
        <li><strong>Guadeloupe</strong> – Back-End Developer</li>
        <li><strong>Karim</strong> – Project Manager / Back-End Developer</li>
    </ul>

    <h2>Want to Connect?</h2>
    <p>Feel free to <a href="{% url 'contact' %}">contact us</a> with suggestions or questions!</p>
</div>
