

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}High End Laptops - LaptopStore {% endblock %}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    {% load static %}
<link rel="stylesheet" href="{% static 'style/style.css' %}" />
</head>
<body>
   
    <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'index' %}">LaptopStore</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active"><a class="nav-link" href="{% url 'highend' %}">High End Laptop</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'studio' %}">Studio Laptop</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'budget' %}">Budget Laptop</a></li>
          
    </div>

    <ul class="navbar-nav ml-3">
          <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About Us</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'support' %}">Rate our Product</a></li>
      </ul>
  </nav> 


    <header class = "container my-5">

{% block content %}
{% endblock %}


   </header>
 

   <!-- Footer -->
  <footer class="bg-dark text-white py-4">
    <div class="container text-center">
      <p>&copy; 2025 LaptopStore. All rights reserved.</p>
    </div>
  </footer>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
