{% load static %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>LaptopStore - Home</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <!-- External CSS -->
    <link rel="stylesheet" href="style/style.css" />
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="index.html">LaptopStore</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="HighEndLaptop.html">High End Laptop</a></li>
          <li class="nav-item"><a class="nav-link" href="StudioLaptops.html">Studio Laptop</a></li>
          <li class="nav-item"><a class="nav-link" href="BudgetLaptops.html">Budget Laptop</a></li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search laptops" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav ml-3">
          <li class="nav-item"><a class="nav-link" href="#">Account</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'support.html' %}">Support</a></li>
        </ul>
      </div>
      </nav>
      
    </nav>
    
    <!-- Featured Products Section -->
    <section class="container my-5">
      <h2 class="mb-4">Featured Laptops & Deals</h2>
      <div class="row">
        <!-- High-End Laptop: Razer Blade 16 -->
        <div class="col-md-3 col-sm-6 mb-4">
          <div class="card product-card">
            <img class="card-img-top" src=" {% static 'homepage/Pic/RazerBlade16.jpg' %}" alt="Razer Blade 16" />
            <div class="card-body">
              <h5 class="card-title">Razer Blade 16</h5>
              
              <a href="HighEndLaptop.html" class="btn btn-primary btn-block">View Details</a>
            </div>
          </div>
        </div>
      
        <!-- Studio Laptop: MacBook Pro 16” M3 Max -->
        <div class="col-md-3 col-sm-6 mb-4">
          <div class="card product-card">
            <img class="card-img-top" src="StudioPic/macbookpro16.jpg" alt="MacBook Pro 16" />
            <div class="card-body">
              <h5 class="card-title">MacBook Pro 16” M3 Max</h5>
              
              <a href="StudioLaptops.html" class="btn btn-primary btn-block">View Details</a>
            </div>
          </div>
        </div>
      
        <!-- Budget Laptop: Acer Aspire Go 15 -->
        <div class="col-md-3 col-sm-6 mb-4">
          <div class="card product-card">
            <img class="card-img-top" src="BudgetPic/AcerAspireGo15.jpg" alt="Acer Aspire Go 15" />
            <div class="card-body">
              <h5 class="card-title">Acer Aspire Go 15</h5>
              
              <a href="BudgetLaptops.html" class="btn btn-primary btn-block">View Details</a>
            </div>
          </div>
        </div>
      
        <!-- Random Laptop: ASUS ROG Flow Z13 -->
        <div class="col-md-3 col-sm-6 mb-4">
          <div class="card product-card">
            <img class="card-img-top" src="Pic/AsusRogStrixScar18.jpg" alt="ASUS ROG Flow Z13" />
            <div class="card-body">
              <h5 class="card-title">ASUS ROG Strix Scar 18</h5>
              
              <a href="HighEndLaptop.html" class="btn btn-primary btn-block">View Details</a>
            </div>
          </div>
        </div>
      </div>
      
    </section>

    <!-- Sidebar/Secondary Section for Daily Deals -->
    <section class="container my-5">
      <div class="row">
        <div class="col-md-8">
          <!-- Main content above -->
        </div>
        <div class="col-md-4">
          <div class="bg-light p-3">
            <h4>Daily Deals</h4>
            <ul class="list-unstyled">
              <li><a href="#">Deal 1: 10% off select models</a></li>
              <li><a href="#">Deal 2: Buy one get one 50% off</a></li>
              <li><a href="#">Deal 3: Free accessories with purchase</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="bg-dark text-white py-4">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h5>Support</h5>
            <ul class="list-unstyled">
              <li><a href="support.html" class="text-white">Contact Us</a></li>
              <li><a href="support.html" class="text-white">FAQs</a></li>
              <li><a href="support.html" class="text-white">Shipping & Returns</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h5>Company</h5>
            <ul class="list-unstyled">
              <li><a href="AboutUs.html" class="text-white">About Us</a></li>
              <li><a href="#" class="text-white">Careers</a></li>
              <li><a href="#" class="text-white">Press</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h5>Follow Us</h5>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white">Facebook</a></li>
              <li><a href="#" class="text-white">Twitter</a></li>
              <li><a href="#" class="text-white">Instagram</a></li>
            </ul>
          </div>
        </div>
        <div class="text-center mt-3">
          &copy; 2025 LaptopStore. All rights reserved.
        </div>
      </div>
    </footer>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
