<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Feedback Page</title>

    <style>
        table, td, th {
            margin-left:auto;
            margin-right:auto;
        }
         th, td {
        padding:15px;
        text-align: center;
color:white;
    }
    th {
        background-color: rgb(121, 55, 246);
        color:white;
        border-radius:15px;
    }

    tbody tr:nth-child(odd) {
  background-color:rgb(150, 98, 245);
}
        * {
            text-align: center;
        }
    </style>
</head>
<body>
    <br>
    <br>
    <br>
    <h1> User Feedback Report</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Product</th>
            <th>Rating</th>
            <th>Message</th>
            <th>Timestamp</th>
     </tr>
        <tr>
        {% for feedback in feedbacks %}

            <td> {{ feedback.name }}</td>
            <td> {{ feedback.product }}</td>
            <td> {{ feedback.rating }}</td>
            <td> {{ feedback.comment }}</td>
            <td> {{ feedback.timestamp }}</td>




        </tr>
    {% endfor %}

    </table>
   

</body>
</html>